.banner {
  background: center / cover no-repeat url("../images/banner.jpg");
  position: absolute;
  height: calc(100vh - 100px);
  width: 100%;
  display: block;
  content: "";
  z-index: -1;
}

.banner::before {
  background: center / cover url("../images/clouds2.png");
  position: absolute;
  opacity: 0.5;

  animation: scroll 200s linear infinite;
  
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  
  z-index: -1;
}

.banner::after {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  content: "";
}

@keyframes scroll {
  100% {
    background-position:-1000px 0px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}